<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">

<body>

<div layout:fragment="content">

    <div class="row g-3">
        <div class="col-md-4">
            <div class="card-custom">
                <h5>Active Alerts</h5>
                <h2>12</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-custom">
                <h5>Noise Events</h5>
                <h2>37</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-custom">
                <h5>Open Manholes</h5>
                <h2>2</h2>
            </div>
        </div>

    </div>

</div>

</body>
</html>